@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  margin: 0;
  background-color: #333;
  color: #222;
}
.container{
    background-color:#fafafa;
    transform-origin:top left;
    transition:transform  0.5s leaner;
    -webkit-transition:transform  0.5s leaner;
    -moz-transition:transform  0.5s leaner;
    -ms-transition:transform  0.5s leaner;
    -o-transition:transform  0.5s leaner;
    width: 100vw;
    min-height: 100vh;
    padding:50px;
}
.container.show-nav{
  transform:rotate(-20deg);
  -webkit-transform:rotate(-20deg);
  -moz-transform:rotate(-20deg);
  -ms-transform:rotate(-20deg);
  -o-transform:rotate(-20deg);
}
.container.container.show-nav + nav li{
  transform:translateX(0);
  -webkit-transform:translateX(0);
  -moz-transform:translateX(0);
  -ms-transform:translateX(0);
  -o-transform:translateX(0);
  transition-delay: 0.3s;
}
.container.show-nav .circle{
  transform:rotate(-70deg);
  -webkit-transform:rotate(-70deg);
  -moz-transform:rotate(-70deg);
  -ms-transform:rotate(-70deg);
  -o-transform:rotate(-70deg);
}
.circle-container{
  position: fixed;
  top: -100px;
  left: -100px;
}
.circle{
  background-color: rgb(255, 121, 121,0.8);
  height:200px;
  width:200px;
  border-radius:50%;
  -webkit-border-radius:50%;
  -moz-border-radius:50%;
  -ms-border-radius:50%;
  -o-border-radius:50%;
  position:relative;
  transition:transform 0.5s leaner;
  -webkit-transition:transform 0.5s leaner;
  -moz-transition:transform 0.5s leaner;
  -ms-transition:transform 0.5s leaner;
  -o-transition:transform 0.5s leaner;
}
.circle button{
 position: absolute; 
 top: 50%;
 left: 50%;
 height: 100px;
 background-color: transparent;
 border:0;
font-size: 26px;
color:white;
cursor: pointer;
}
.circle button:focus{
  outline:none;

}
.circle button#open {
  left: 60%;

}
.circle button#close {
  top: 60%;
  transform:rotate(90deg);
  -webkit-transform:rotate(90deg);
  -moz-transform:rotate(90deg);
  -ms-transform:rotate(90deg);
  -o-transform:rotate(90deg);
  transform-origin: top left;
}

.content img{
  max-width: 100%;
}
.content{
  max-width: 1000px;
  margin: 50px auto;
} 
.content h1{
  margin: 0;
}
.content small{
  color:#555;
  font-style: italic;
}
.content p{
  color:#333;
  line-height: 1.5;
}
 nav{
  position: fixed;
  bottom: 40px;
  left:0;
  z-index: 100;
}
nav ul{
  list-style-type: none;
  padding-left: 30px; 
}
nav ul li{
  text-transform: uppercase;
  color: white;
  margin: 40px 0px ;
  transform:translateX(-100%);
  -webkit-transform:translateX(-100%);
  -moz-transform:translateX(-100%);
  -ms-transform:translateX(-100%);
  -o-transform:translateX(-100%); 
  transition:transform 0.4s ease-in;
  -webkit-transition:transform 0.4s ease-in;
  -moz-transition:transform 0.4s ease-in;
  -ms-transition:transform 0.4s ease-in;
  -o-transition:transform 0.4s ease-in;
} 
nav ul li i{
  font-size: 20px;
  margin-right: 10px;
}
nav ul li + li {
  margin-left: 15px;
  transform:translateX(-150%);
  -webkit-transform:translateX(-150%);
  -moz-transform:translateX(-150%);
  -ms-transform:translateX(-150%);
  -o-transform:translateX(-150%);
}
nav ul li + li+li {
  margin-left: 15px;
  transform:translateX(-200%);
  -webkit-transform:translateX(-200%);
  -moz-transform:translateX(-200%);
  -ms-transform:translateX(-200%);
  -o-transform:translateX(-200%);
}